@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--primary-black: #01080E;
--primary-blue: #011627;
--primary-dark-blue: #011221;

--secondary-blue: #607B96;
--secondary-green: #3C9D93;
--secondary-purple: #4D5BCE;

--white:#FFFFFF;

--accent-orange: #FEA55F;
--accent-green: #43D9AD;
--accent-red: #E99287;
--accent-pink: #C98BDF;

--lines: #1E2D3D;
--gradient: linear-gradient(var(--secondary-purple), var(--accent-green) );
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: var(--secondary-blue)
}
@media(max-width: 768px){
  html{
    font-size: 77%;
  }
}
@media(min-width: 769px){
  html{
    font-size: 90%;
  }
}
@media(min-width: 1280px){
  html{
    font-size: 100%;
  }
}

.swiper-slide-active{
  z-index: 10;
}

.swiper-slide-next, .swiper-slide-prev{
  opacity: 0.4;
  z-index: 0;
}