@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mk-h1 {
    @apply font-bold text-xl
  }
  .mk-h2 {
    @apply text-xl
  }
  .mk-h3 {
    @apply text-lg
  }
  .mk-p{
    @apply text-base my-4
  }
  .mk-ul{
    @apply list-disc ml-6
  }
  .mk-hr{
    @apply border-0 my-4
  }
  .mk-hr-no-margin{
    @apply border-0
  }
}

:root {
--primary-black: #01080E;
--primary-blue: #011627;
--primary-dark-blue: #011221;

--secondary-blue: #607B96;
--secondary-green: #3C9D93;
--secondary-purple: #4D5BCE;

--white:#FFFFFF;

--accent-orange: #FEA55F;
--accent-green: #43D9AD;
--accent-red: #E99287;
--accent-pink: #C98BDF;

--lines: #1E2D3D;
--gradient: linear-gradient(var(--secondary-purple), var(--accent-green) );
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media(max-width: 768px){
  html{
    font-size: 77%;
  }
}
@media(min-width: 769px){
  html{
    font-size: 90%;
  }
}
@media(min-width: 1280px){
  html{
    font-size: 100%;
  }
}

.swiper-slide-active{
  z-index: 10;
}

.swiper-slide-next, .swiper-slide-prev{
  opacity: 0.4;
  z-index: 0;
}

/* width scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track scrollbar */
::-webkit-scrollbar-track {
  background: #e2e8f0;
}

.dark ::-webkit-scrollbar-track {
  background: var(--primary-blue);
  }

/* Handle scrollbar */
::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb {
  background: var(--lines);
  border-radius: 5px;
}

/* Handle on hover scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #555;
}